<div id="<%= dom_id medic %>">
  <p>
    <strong>Nome:</strong>
    <%= medic.nome %>
  </p>

  <p>
    <strong>Crm:</strong>
    <%= medic.crm %>
  </p>

  <p>
    <strong>Sexo:</strong>
    <%= medic.sexo %>
  </p>

  <p>
    <strong>Especialidade:</strong>
    <%= medic.especialidade %>
  </p>

  <p>
    <strong>Telefone:</strong>
    <%= medic.telefone %>
  </p>

</div>
