<div id="<%= dom_id pacient %>">
  <p>
    <strong>Nome:</strong>
    <%= pacient.nome %>
  </p>

  <p>
    <strong>Cpf:</strong>
    <%= pacient.cpf %>
  </p>

  <p>
    <strong>Sexo:</strong>
    <%= pacient.sexo %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= pacient.email %>
  </p>

  <p>
    <strong>Telefone:</strong>
    <%= pacient.telefone %>
  </p>

  <p>
    <strong>Data de nascimento:</strong>
    <%= pacient.data_de_nascimento %>
  </p>

</div>
